/*Custom CSS*/
/*scroll smoothly for the entire page*/
* {
    scroll-behavior: smooth;
}

/*makes it flow smoothly*/
body {
    overflow: scroll;
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
}

/*the hyperlinks color, important 
to override the bootstrap components*/
/*Title on page*/
a,
.email:hover {
    color: rgb(190, 152, 221) !important;
}
/*hyperlinks color when hovered over*/
a:hover {
    color: rgba(152, 103, 192, 0.432);
}

/*classes and id, css updates*/

/*Title on page*/
#title {
    position: relative;
    text-align: center;
    padding: 0;
    font-size: 5rem;
    color: rgb(190, 152, 221);
}

/*makes img rounded*/
#img-me {
    border-radius: 50%; 
    border: 1px solid rgb(190, 152, 221);
    padding: 5px;
}

/*skills, title-projects color, alignment, and font-size*/
.title-skills,
.title-projects,
#contact-me-custom {
    color:rgb(190, 152, 221);
    text-align: center;
    font-size: 2rem;
}

/*my initials on the navbar, font from google*/
.navbar-brand {
    background-color: rgb(190, 152, 221);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}
/*makes the navbar transparent*/
.navbar-inner {
    background: transparent;
    position: fixed;
}
/*creates the tech backgroung at top*/
.backgroundImg {
    background-image: url("../images/tech-background.png");  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute; 
}
/*about me area wrapper, creates the background color*/
.abt-me {
    margin: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 10px;
    text-align: center;
    width: 100% !important;
    background-color: rgb(190, 152, 221);
    color: white;
}
/*padding to skills and projects*/
.title-skills,
.title-projects {
    padding: 10px;
}

.main {
    padding-bottom: 10%;
}
/*creates border for projects and skills*/
.title-skills:after,
.title-projects:after,
#contact-me-custom:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 20px; 
    border-top: 1px solid rgb(190, 152, 221);
}
    .title-skills:before,
    .title-projects:before,
    #contact-me-custom:before    {
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 50%; 
        padding-top: 20px; 
        border-bottom: 1px solid rgb(190, 152, 221);
    }

/*button for more projects, also resume button*/
.more {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(190, 152, 221);
    padding: 10px;
    border-radius: 5%;
    display: inline-block;
    border: none;
    text-align: center;
    transition: all 0.4s ease 0s;
}
    .more:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    } 

.contactWrapper {
    margin-bottom: 30%;
    display: none;
}
/*footer style*/
.custom-footer {
    background-color:#26272b;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -10px;
    color:#737373;
    position: fixed;
}
/*COPYRIGHT text in footer*/
.copyright-text {
    padding-top: 10px;
}
/*footer email link*/
.email {
    color: #737373 !important;
    padding-top: 10px;
    font-size: 1.2rem;
}
/*social icons on footer style*/
.social-icons li{
  display:inline-block;
}
    .social-icons a {
        display:inline-block;
        text-align:center;
        padding-right: 4px;
    }
    .copyright-text,
    .social-icons {
        text-align: center;
    }




/*media queries*/


/*screens 299px and smaller, x-small*/
@media screen and (max-width: 299px) {
    .navbar-brand {
        font-size: 16px;
    }
    .more {
        font-size: 12px;
    }
    #title {
        padding: 10% 0 30% 0;
    }
    .wrapperHeader {
        padding-bottom: 30%;
    }
    .card {
        padding: 10px;
    }
    .card-title {
        font-size: 1.3rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    .cTwo {
        margin-top: 20px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }
    .title-projects:before,
    .title-projects:after {
        width: 100%;
    }
    .nameChange:before,
    .nameChange:after {
        width: 70%;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        font-size: 10px;
        text-align: center;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 18px;
        text-align: center;
    }
    .social-icons {
        padding: 0px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    
    #title {
        font-size: 34px;
        padding-top: 10px;
    }
    #img-me {
        height: 100%;
        width: 100%;
    }
    #aboutme-text {
        font-size: 16px;
    }
    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 20px;
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 270px;
        height: auto;
    }
  
}

/*screens 300px to 480px, small*/
@media screen 
and (min-width: 300px)
and (max-width: 480px){
    .wrapperHeader {
        padding: 10px;
    }
    .img-me {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .projects {
        margin-bottom: 60%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
        font-size: 15px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 20px;
    }
    .email{
        font-size: 20px;
    }
    .social-icons {
        padding: 0px;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 32px;
        width: 32px;
    }
    .abt-me {
        padding: 40px 10px 40px 10px;
    }  
    
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .title-projects:after,
    .title-projects:before { 
        width: 90%; 
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }
    #lostNo,
    #weather,
    #workSched{
        width: 320px;
        height: auto;
    }
    #title {
        font-size: 39px;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 1.2rem;
    }
    #img-me {
        height: 100%;
        width: 100%;
    }
    
}

/*screens 481px and 768, medium*/
@media screen
and (min-width: 481px)
and (max-width: 768px) {
    #title {
        font-size: 4rem;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 2rem;
    }
    .wrapperHeader {
        padding: 10px;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: auto;
        width: 80%;
    }
    .abt-me {
        padding: 40px 20px;
    }  
  
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }

   
    .projects {
        margin-bottom: 60%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 540px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .email{
        font-size: 25px;
    }
    .social-icons {
        padding: 0px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 2rem;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 35px;
        width: 35px;
    }
    
}

/*screens 769px to 992px, large*/
@media screen 
and (min-width: 769px)
and (max-width: 992px) {
    #title {
        font-size: 5rem;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 2rem;
    }
    .wrapperHeader {
        padding: 10px;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: auto;
        width: 80%;
    }
    .abt-me {
        padding: 50px 40px;
    }
    .projectWrapper {
        padding: 50px;
    }
    
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 40px 35px;
        margin-bottom: 40px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }

   
    .projects {
        margin-bottom: 30%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 740px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .email{
        font-size: 25px;
    }
    .social-icons {
        padding: 0px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 2rem;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 38px;
        width: 38px;
    }
    .navbar-brand {
        font-size: 1.6rem;
    }
    
    
}

/*screen 993px and bigger, x-large*/
@media screen and (min-width: 993px) {

    #title {
        font-size: 5rem;
        padding-top: 10%;
    }
    #full-stack {
        font-size: 2rem;
        
    }
    .wrapperHeader {
        margin: 0;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: auto;
        width: 40%;
    }
    .abt-me {
        padding: 50px 40px;
        font-size: 20px;
    }
    .about-title,
    .title-skills,
    .title-projects {
        font-size: 3rem;
    }
    .projectWrapper {
        padding: 50px;
    }
   
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 40px 35px;
        margin-bottom: 40px;
    }
    .cOne {
        margin: 0 0 0 10%;
    }
    .cTwo {
        margin: 0 0 0 10%;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 30px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }
    body > section > main > section.container-fluid.contactWrapper > section > section > article > article > article.row.contactForm {
        justify-content: center;
    }
   
    .projects {
        margin-bottom: 30%;
    }

    .title-under {
        margin-bottom: 10%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 940px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 10px;
    }
    
    .social-icons {
        padding: 0px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 2rem;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 40px;
        width: 40px;
    }
   .websiteImg {
       margin-left: 5%;
   }
}