/*Custom CSS*/
/*scroll smoothly for the entire page*/
* {
    scroll-behavior: smooth;
}

/*makes it flow smoothly*/
body {
    overflow: scroll;
}

/*the hyperlinks color, important 
to override the bootstrap components*/
a,
#title {
    color: rgb(190, 152, 221) !important;
}

/*hyperlinks color when hovered over*/
a:hover {
    color: rgba(152, 103, 192, 0.432);
}

.title,
.img-me {
    position: relative;
    padding: 2em;
    text-align: center;
}
#img-me {
    border-radius: 50%;
}

.abt-me {
    margin: 0 !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 10px;
    text-align: center;
    width: 100% !important;
    background-color: rgb(190, 152, 221);
    color: white;
}
#title {
    font-size: 5rem;
    padding: 0;
}
#full-stack,
.title-skills,
.title-projects {
    color:rgb(190, 152, 221);
    font-size: 1rem;
    text-align: center;
}
.backgroundImg {
    background-image: url("../images/tech-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute; 
}





/*makes the navbar transparent*/
.navbar-inner {
    background: transparent;
    position: fixed;
}
/*my initials on the navbar*/
.navbar-brand {
    background-color: rgb(190, 152, 221);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 10px; 
    border-radius: 50%;
}





/*makes image have an outline when hovered on*/
#img-me:hover {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px;
}






/*footer style*/
.custom-footer {
    background-color:#26272b;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#737373;
    position: fixed;
}
/*COPYRIGHT text in footer*/
.copyright-text {
    padding-top: 10px;
}

.email {
    color: #737373 !important;
    padding-top: 10px;
}
.email:hover {
    color: rgb(190, 152, 221) !important;
}
/*social icons on footer style*/
.social-icons li{
  display:inline-block;
}
    .social-icons a {
        display:inline-block;
        text-align:center;
        padding-right: 4px;
    }
    .copyright-text,
    .social-icons {
        text-align: center;
    }
    body > section > main > section > article > div > a > div > h3 {
        font-size: 20px;
    }

    .more {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: rgb(190, 152, 221);
        padding: 10px;
        border-radius: 5%;
        display: inline-block;
        border: none;
        text-align: center;
        transition: all 0.4s ease 0s;
      }
    
    .more:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }





/*media queries*/


/*screens 299px and smaller, x-small*/
@media screen and (max-width: 299px) {
    .more {
        font-size: 12px;
    }

    #title {
        font-size: 34px;
        padding-top: 10px;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: 100%;
        width: 100%;
    }
    #full-stack {
        font-size: 1rem;
    }
    .title-skills,
    .title-projects {
        font-size: 2rem;
        border-bottom: 1px solid rgb(190, 152, 221);
        padding: 10px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 20px;
        color: rgb(134, 133, 133);
    }
    .card-title {
        font-size: 1.5rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    .projects {
        margin-bottom: 60%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    .card,
    .wrapperHeader {
        padding: 10px;
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }
    
    #lostNo,
    #weather,
    #workSched{
        width: 270px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .social-icons {
        padding: 0px;
    }
    #aboutme-text {
        font-size: 16px;
    }
    .navbar-brand {
        font-size: 16px;
    }

}

/*screens 300px to 480px, small*/
@media screen 
and (min-width: 300px)
and (max-width: 480px){
    #title {
        font-size: 39px;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 1.2rem;
    }

    .wrapperHeader {
        padding: 10px;
    }

    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: 100%;
        width: 100%;
    }
    .abt-me {
        padding: 40px 10px 40px 10px;
    }  
    .title-skills,
    .title-projects {
        font-size: 2rem;
        border-bottom: 1px solid rgb(190, 152, 221);
        padding: 10px;
    }
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }

   
    .projects {
        margin-bottom: 60%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 420px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .email{
        font-size: 20px;
    }
    .social-icons {
        padding: 0px;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 32px;
        width: 32px;
    }
}

/*screens 481px and 768, medium*/
@media screen
and (min-width: 481px)
and (max-width: 768px) {
    #title {
        font-size: 4rem;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 2rem;
    }
    .wrapperHeader {
        padding: 10px;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: auto;
        width: 80%;
    }
    .abt-me {
        padding: 40px 20px;
    }  
    .title-skills,
    .title-projects {
        font-size: 2rem;
        border-bottom: 1px solid rgb(190, 152, 221);
        padding: 10px;
    }
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 10px 15px;
        margin-bottom: 40px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }

   
    .projects {
        margin-bottom: 60%;
    }
    .title-under {
        margin-bottom: 30%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 540px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .email{
        font-size: 25px;
    }
    .social-icons {
        padding: 0px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 2rem;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 35px;
        width: 35px;
    }
    
}

/*screens 769px to 992px, large*/
@media screen 
and (min-width: 769px)
and (max-width: 992px) {
    #title {
        font-size: 5rem;
        padding-top: 10px;
    }
    #full-stack {
        font-size: 2rem;
    }
    .wrapperHeader {
        padding: 10px;
    }
    .img-me,
    .title {
        position: relative;
        padding: 2em;
        text-align: center;
    }
    #img-me {
        height: auto;
        width: 80%;
    }
    .abt-me {
        padding: 40px 20px;
    }  
    .title-skills,
    .title-projects {
        font-size: 2rem;
        border-bottom: 1px solid rgb(190, 152, 221);
        padding: 10px;
    }
    .title-skills,
    .title-projects {
        margin-bottom: 30px;
    }
    .card-title {
        font-size: 1.8rem;
        padding: 10px 5px;
        border-bottom: 1px solid rgb(199, 195, 195);
        color: rgb(134, 133, 133);
    }
    #skills {
        padding: 40px 35px;
        margin-bottom: 40px;
    }
    .cTwo {
        margin-top: 10px;
    }
    body > section > main > section:nth-child(2) {
        margin-top: 40px;
    }
    .cOne,
    .cTwo {
        padding: 20px;
    }

    #htmlT,
    #cssT,
    #jsT,
    #gitT,
    #vsT,
    #termT {
        display: inline;
        padding: 10px;
        font-size: 1.3rem;
        color: rgb(134, 133, 133);
    }

   
    .projects {
        margin-bottom: 60%;
        padding: 
    }
    .title-under {
        margin-bottom: 30%;
    }
    #lostNo,
    #weather,
    #workSched{
        width: 540px;
        height: auto;
    }
    .lostPtitle {
        padding-left: 15px;
    }
    .wrapperHeader {
        padding-bottom: 50px;
    }
    .github,
    .linkedin,
    .instagram {
        height: 30px;
        width: 30px;
    }
    .websiteImg {
        padding: 0px;
        margin-bottom: 25px;
    }
    .lostP, 
    .weather,
    .schedular {
        padding-top: 5px;
    }
    .email{
        font-size: 25px;
    }
    .social-icons {
        padding: 0px;
    }
    .lostPtitle,
    .weathT,
    .workSched {
        font-size: 2rem;
    }
   
    .github,
    .linkedin,
    .instagram {
        height: 38px;
        width: 38px;
    }
    .navbar-brand {
        font-size: 1.6rem;
    }
    
}

/*screen 993px and bigger, x-large*/
@media screen and (min-width: 993px) {
    
    .github,
    .linkedin,
    .instagram {
        height: 40px;
        width: 40px;
    }
}