/*Custom CSS*/
/*scroll smoothly for the entire page*/
* {
    scroll-behavior: smooth;
}
.main {
    padding: 0;
}
h1,
h2 {
    color: rgb(190, 152, 221);
    text-align: center;
}
h2 {
    text-align: center;
}
/*Title on page*/
#title {
    position: relative;
    font-size: 5rem;
    text-align: center;
    color: rgb(190, 152, 221);
}
#lostNo,
#weather,
#workSched {
    max-width: 400px;
    height: auto;
}
/*the hyperlinks color, important 
to override the bootstrap components*/
a,
.email:hover {
    color: rgb(190, 152, 221) !important;
}
/*hyperlinks color when hovered over*/
a:hover {
    color: rgba(152, 103, 192, 0.432);
}
/*makes it flow smoothly*/
body {
    overflow: scroll;
    font-family: 'Titillium Web', sans-serif;
}
/*makes image rounded and a border around it*/
#img-me {
    border-radius: 50%; 
    border: 1px solid rgb(190, 152, 221);
    padding: 5px;
    max-width: 400px;
}
/*center the email on the footer*/
#emailFooter,
.about-title {
    display: flex;
    justify-content: center;
}
/*my initials on the navbar, font from google*/
.navbar-brand {
    background-color: rgb(190, 152, 221);
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    font-family: 'Amatic SC', cursive;
}
.abt-me {
    background-color: rgb(190, 152, 221);
    color: white;
    padding: 10px;
}
/*creates border for projects and skills*/
.title-skills:after,
.title-projects:after,
#contact-me-custom:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 20px; 
    border-top: 1px solid rgb(190, 152, 221);
}
    .title-skills:before,
    .title-projects:before,
    #contact-me-custom:before    {
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 50%; 
        padding-top: 20px; 
        border-bottom: 1px solid rgb(190, 152, 221);
    }
.more {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(190, 152, 221);
    padding: 10px;
    border-radius: 5%;
    display: inline-block;
    border: none;
    text-align: center;
    transition: all 0.4s ease 0s;
}
    .more:hover {
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    } 
/*creates the tech backgroung at top*/
.backgroundImg {
    background-image: url("../images/tech-background.png");  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute; 
}
/*footer style*/
.custom-footer {
    background-color:#26272b;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -10px;
    color:#737373;
    position: fixed;
}
/*social icons on footer style*/
.social-icons li{
    display: inline-block;
    padding: 2px;
  }
      .social-icons a {
          display: inline-block;
          text-align: center;
      }
      .copyright-text,
      .social-icons,
      .abtMe {
          text-align: center;
          padding: 0 4px 0 0;
      }
.copyright-text {
    padding: 3px;
    margin: 0;
}
.custom-paragraph {
    text-align: center;
}

/*media queries*/


/*screens 299px and smaller, x-small*/
@media screen and (max-width: 299px) {
    h4 {
        font-size: 18px;
    }
    #img-me {
        width: 280px;
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: 2.5rem;
        padding: 28% 0;
    }
    #lostNo,
    #weather,
    #workSched {
        width: 270px;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .projects {
        padding: 10px 0;
    }
    .lostP,
    .weather,
    .schedular {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .img-me {
        padding: 20% 0;
    }
    .websiteImg {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .iconsP {
        font-size: 9px;
        padding: 0 5px;
    }
    .more {
        font-size: 10px;
    }
    .contactWrapper {
        padding: 0 0 40% 0;
    }
}
/*screens 300px to 480px, small*/
@media screen 
and (min-width: 300px)
and (max-width: 480px) {
    h4 {
        font-size: 22px;
    }
    #img-me {
        width: 280px;
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: 2.5rem;
        padding: 28% 0;
    }
    #lostNo,
    #weather,
    #workSched {
        width: 270px;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .projects {
        padding: 10px 0;
    }
    .lostP,
    .weather,
    .schedular {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .img-me {
        padding: 20% 0;
    }
    .websiteImg {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .iconsP {
        font-size: 12px;
        padding: 0 5px;
    }
    .more {
        font-size: 10px;
    }
    .contactWrapper {
        padding: 0 0 40% 0;
    }
    
}
/*screens 481px and 768, medium*/
@media screen
and (min-width: 481px)
and (max-width: 768px) {
    h4 {
        font-size: 22px;
    }
    h2 {
        font-size: 3rem;
    }
    #img-me {
        width: 330px;
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: 4rem;
        padding: 28% 0;
    }
    #lostNo,
    #weather,
    #workSched {
        width: 400px;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .projects {
        padding: 10px 0;
    }
    .lostP,
    .weather,
    .schedular {
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .img-me {
        padding: 20% 0;
    }
    .abt-me {
        padding: 5px;
    }
    .websiteImg {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .iconsP {
        font-size: 12px;
        padding: 0 5px;
    }
    .more {
        font-size: 10px;
    }
    .contactWrapper {
        padding: 0 0 40% 0;
    }
}
/*screens 769px to 992px, large*/
@media screen 
and (min-width: 769px)
and (max-width: 992px) { 
    h4 {
        font-size: 23px;
    }
    h2 {
        font-size: 3.5rem;
    }
    #img-me {
        width: 400px;
        display: flex;
        justify-content: center;
    }
    #title {
        padding: 10% 0;
    }
    #lostNo,
    #weather,
    #workSched {
        width: 400px;
    }
    .navbar-brand {
        font-size: 19px;
    }
    .about-title {
        font-size: 2rem;
    }
    .projects {
        padding: 20px 0;
    }
    .lostP,
    .weather,
    .schedular {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .img-me {
        padding: 10% 0;
    }
    .abt-me {
        padding: 5px;
    }
    .websiteImg {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .iconsP {
        font-size: 12px;
        padding: 0 5px;
    }
    .more {
        font-size: 14px;
    }
    .contactWrapper {
        padding: 0 0 40% 0;
    }

}
/*screen 993px and bigger, x-large*/
@media screen and (min-width: 993px) {
    h4 {
        font-size: 24px;
    }
    h2 {
        font-size: 3.5rem;
    }
    #img-me {
        width: 500px;
        display: flex;
        justify-content: center;
    }
    #title {
        padding: 5% 0;
    }
    #lostNo,
    #weather,
    #workSched {
        width: 600px;
    }
    .navbar-brand {
        font-size: 19px;
    }
    .projects {
        padding: 20px 0;
    }
    .lostP,
    .weather,
    .schedular {
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .img-me {
        padding: 5% 0;
    }
    .about-title {
        font-size: 2rem;
    }
    .abt-me {
        padding: 2% 25%;
    }
    .websiteImg {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .iconsP {
        font-size: 12px;
        padding: 0 5px;
    }
    .more {
        font-size: 16px;
    }
    .contactWrapper {
        padding: 0 0 40% 0;
    }
}